body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    height: 100vh;
    background-image: url(./image-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
form{
    padding: 20px;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
    background-image: url(./image-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 4px 10px rgb(69, 68, 67);

}
h2{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}
label{
    text-align: start;
}
input[type="text"]{

    width: 80%;
    padding: 5px;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 5px;
    
    
}
input[type="password"]{

    width: 80%;
    padding: 5px;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 5px;
    
}
input[type="submit"]{
  padding: 10px 50px;
  background-color: rgb(94, 176, 11);
  color: white;
  border: none;
  width: 80%;

  border-radius: 5px;
  margin-top: 10px;
}
