
body{
    background: linear-gradient(to right,#373A40,#686D76,#a3a6ac,#EEEEEE);
}
.calci{
    border-radius: 10px;
    background-color:white;
    margin: auto;
    width:340px;
    
}
#display{
    height: 35px;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 2px 4px;
}

td{
 font-size: 18px;
 text-align: center;
 border-radius: 4px;
 color: black;
 cursor: pointer;
 border: 1px solid #e1dbdb;
 box-shadow: 0px 1px 3px white;
 
}
#del1{
    background-color: #D76C82;
    cursor: pointer;
 
}
#del1:hover{
    box-shadow: 2px 4px 12px white;
}